.buslineCard {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
}

.buslineButton {
  background-color: #FFBF69 !important;

  &.activeButton {
    background-color: #EF6C00 !important;
  }
}

